@font-face {
	font-family: "JF Flat Regular";
	src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#uefix) format('embedded-opentype'),
        
         url(../fonts/JF-Flat-regular.woff) format('woff'),
         url(../fonts/JF-Flat-regular.ttf) format('truetype');
	font-weight: bolder;
	font-style: normal;
}
 body .navbar  {
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.429;
}
.services .servicess , .tripstitle{
    background-image: url('../images/image1.png');
     background-color: rgba(5, 117, 230, 0.8) !important;
  } 
.whyus{
    text-align: center;
    background-color: #f6fbff;
}
.titlewhyus{
    color: blue;
}
.tripstitle h3{
    line-height: 1.8 !important;
    font-weight: bolder;
    font-size: 33px;
}
.fa-check-double{
    position:relative;
    right: 650px;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: blue;
}

hr{
    border: 10px solid darkblue;
  border-radius: 5px;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
  }
  .details{
      position:relative;
      top: 20px;
  }
  .card-title{
      text-align: center;
      font-weight: 600;
  }
  .card-text{
      text-align: center;
  }

.modal-footer{
  background-color: lightblue;
}


.card-body h5{
    color: blue;
}

#contact{
    position: relative;

}

#top-menu .fa-bars{
    cursor: pointer;
}

#wrap.toggled .sidebar {
    right: 0rem;
}
.navbar-brand{
    position: relative;
    right: 10px;
}


 .cardtrip .card-text{
 color:#F6DB6C;
 font-size: 20px;
 font-weight: 800;
}


@media(max-width:991px){
    video{
        display:none;
    }
    .fa-bars{
        display:none;
    }
    .nav-item{
        display:none;
    }
}
@media (min-width:430px) and (max-width: 776px) {
    hr{
        position: relative !important;
        right: 20px !important;
    }
   
}

@media (min-width: 240px)and (max-width:430px){
    
    hr{
        position: relative;
        right: -5px;
    }
    
    
}
/********************************** Landing page ***********************************************/
@keyframes spin{
100% {background-position:100%;}
}
.first{
    background-image: url('../images/r.jpg');
    background-size:cover;
    position: relative;
    top: 87px;
}
.horizontalline{
    position: relative;
    top: 40px;
}
.h3trip{
    position: relative;
    top: 36px;
    text-align: center;
}

#carouselExampleControls{
    position: absolute;
    top: 24px;
}
.detail{
    text-align: center;
}

.trip2caro{
    position: relative;
    top: 94px;
}
.parag{
    text-align: center;
}
.nav-link{
clear: both !important;
display: inline-block !important;
overflow: hidden !important;
white-space: nowrap !important;
right: 10px !important;
}  
@media(min-width:200px)and (max-width:450px){
    .row11{
         background-color: lightblue;
    }
}
@media (min-width: 456px) and (max-width:649px){
    
    hr{
        position: relative;
        right: 10px !important;
    }

}
@media (min-width: 769px) and (max-width: 1024px){

    video{
        width: 491px !important;
        position:relative;
        right: 7px !important;
    }
   
}
@media (min-width: 650px) and (max-width:768px){
    body{
        position: relative;
        top: 18px;
    }
    hr{
        position: relative;
        right: -2px !important;
    }
    .horizontalline1{
        position: relative;
        top: 50px !important;
    }

}