$brand-dark: black;
$brand-darkblue: darkblue;
$brand-blue: blue;
$brand-ghostwhite: ghostwhite;
$brand-lightblue: lightblue;
$brand-beige: beige;
$brand-white: #fff;
$brand-darkyellow: #F8D975;
$brand-lightyellow: #faedc2;
$brand-darkred: #FF8672;
$brand-lightred: #fcc9c0;
$brand-yellow:#F6DB6C
