@import '../scss/variables';
//for the landing page

.book1{
    position:relative;
    top:-2px !important;
    @media (min-width: 769px) and (max-width: 1024px){
        position: relative;
        top: -217px !important;
    }
    @media(max-width:991px){
        display:none;
    }
    @media(min-width: 1025px) and (max-width: 1323px){
        position: relative;
        top: -252px !important;
    }
}
.earth{
    width: 300px;
    height: 300px;
    background-image: url('../images/earth.jpg');
    position: absolute;
    top: 450px;
    bottom: 0px;
    left: 0;
    right: 806px;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000; 
    animation: spin 30s linear alternate infinite;
    @media(min-width:200px)and (max-width:450px){
        display:none;
    }
    @media (min-width: 456px) and (max-width:649px){
        display: none;
    }
    @media (min-width: 992px) and (max-width: 1024px){
        position: relative;
        right: 542px;
        top: 142px;
    }
    @media (min-width: 769px) and (max-width: 991px){
        position: relative;
        right: -23px;
        top: 6px;
    }
    @media (min-width: 650px) and (max-width:768px){
        display: none;
    }
    @media(min-width: 1026px) and (max-width: 1323px){
        position: relative;
        right: 653px !important;
        top: 69px !important;
    }
    
}

.pyramids{
    position:relative;
    top: -26px;
    @media(min-width:200px)and (max-width:450px){
        position:relative;
        top: -20px;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: -156px !important;
        right: -12px;
    }
    @media (min-width: 991px) and (max-width: 1024px){
        position: relative;
        top: 20px;
    }
    @media (min-width: 769px) and (max-width: 991px){
        position: relative;
        top: -165px;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top:-155px;
    }

}
.video1{
    position: relative;
    top: 90px;
    @media (min-width: 769px) and (max-width: 1024px){
        position:relative;
        top: 95px !important;
    }
}
.horizontalline4{
    border: 10px solid $brand-darkyellow !important;
    position: relative;
    top: 265px;
        @media(min-width:200px)and (max-width:450px){
            position: relative;
           top: 262px;
           right:3px;
        }
        @media (min-width: 456px) and (max-width:649px){
            position: relative;
            top: 514px;
        }
        @media (min-width: 992px) and (max-width: 1024px){
            position:relative;
            top: 149px;
        }
        @media (min-width: 768px) and (max-width:768px){
            position: relative;
            top: 521px !important;
        }
        @media (min-width: 650px) and (max-width:767px){
            position: relative;
            top: 535px !important;
        }
        @media(min-width:769px) and (max-width: 991px){
            position:relative;
            top: 569px !important;
        }
}
.inner{
    width: 75% !important;
    position:relative;
    top:-262px;
    right: 741px;
    @media(min-width:281px)and (max-width:450px){
        position:relative;
        right:25px;
        top:-6px;
    }
    @media(min-width:200px)and (max-width:280px){
        position:relative;
        right:16px;
        top:9px;
    }
    @media(min-width: 1025px) and (max-width: 1062px){
        position: relative;
        right: 543px !important;
        top: -232px;
        width:406px !important;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: -39px;
        right: 47px;
    }
    @media (min-width: 992px) and (max-width: 1025px){
        position: relative;
        top:-227px !important;
        right: 523px !important;
        width: 414px !important;
    }
    @media (min-width: 650px) and (max-width:767px){
        position: relative;
        right: 88px;
        top: -76px;
    }
    @media (min-width: 768px) and (max-width:768px){
        position: relative;
        right: 77px;
        top: -66px;
    }
    @media (min-width: 769px) and (max-width: 991px){
        position: relative;
        top: -126px;
        right:84px;
    }
    @media(min-width: 1062px)and (max-width: 1226px){
        position: relative;
        right: 546px !important;
        top: -238px;
    }
}

.det{
    background-color: $brand-lightyellow;
    position:relative;
    top: 195px;
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 327px;
    }
    @media (min-width: 650px) and (max-width:767px){
        position: relative;
        top:365px;
    }
    @media (min-width: 768px) and (max-width:768px){
        position: relative;
        top:34px;
    }
    @media(min-width:200px)and (max-width:450px){
        position: relative;
         top: 189px !important;
    }
    @media (min-width: 768px) and (max-width: 991px){
        position: relative;
        top: 360px;
    }
    @media(min-width: 992px) and (max-width: 1024px){
        position: relative;
        top: 85px;
    }
}


.button1{
    position: relative;
    right: 620px;
    background-color: $brand-lightblue;
    font-weight: 600;
    color: $brand-dark;
    &:hover{
        background-color: $brand-darkblue;
    }
    @media(min-width:322px) and (max-width:414px){
        position:relative;
        right:155px !important;

    }
    @media(min-width:200px)and (max-width:321px){
        position:relative;
        right:90px !important;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        right: 235px;
    }
    @media (min-width: 991px) and (max-width: 1024px){
        position:relative;
        right:460px !important;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        right: 341px;
    }
    @media (min-width: 768px) and (max-width: 991px){
        position:relative;
        right:360px !important;
    }
    @media(min-width: 1025px)and (max-width: 1226px){
        position: relative;
        right: 454px !important;
    }
}
.topmenu{
    @media(min-width:200px)and (max-width:450px){
        position: relative;
        left: -8px !important;
        background-color: $brand-lightblue;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        left: -8px !important;
        background-color: $brand-lightblue;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        left: -8px !important;
        background-color: $brand-lightblue;
    }
   
}
.horizontalline2{
    @media(min-width:200px)and (max-width:450px){
        position:relative;
        bottom: -245px;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top: 479px;
    }
}
.contact3{
    position:relative;
    top: 245px;
    @media(min-width:200px)and (max-width:450px){
        position: relative;
        top:285px;
    }
    @media(min-width: 430px)and (max-width:649px){
        position:relative;
        top: 518px !important;
    }
    @media(min-width:768px)and (max-width:768px){
        position:relative;
        top:515px;
    }
    @media(min-width:650px)and (max-width:767px){
        position:relative;
        top:546px;
    }
    @media(min-width:769px)and (max-width:991px){
        position:relative;
        top:577px;
    }
    @media(min-width:992px)and (max-width:1025px){
        position:relative;
        top: 131px;
    }
}
.contactus3{
    @media(min-width:200px)and (max-width:319px){
        position: relative;
        right: 24px !important;
        top: 100px !important;
    }
    @media(min-width: 320px)and (max-width:321px){
        position: relative;
        right:33px !important;
    }
    @media (min-width: 767px) and (max-width:767px){
        position: relative;
        top: 171px !important;
        right: 271px !important;
    }
    @media (min-width: 650px) and (max-width:767px){
        position: relative;
        top: 112px !important;
        right: 207px !important;
    }
    @media (min-width: 360px)and (max-width:375px){
        position:relative;
        right: 54px !important;
   }
    @media(min-width:322px) and (max-width:359px){
        position:relative;
        right:86px !important;
        top: -10px !important;
    }
    @media(min-width:376px) and (max-width:414px){
        position:relative;
        right:269px !important;
        top: 86px !important;
    }
    @media(min-width: 769px) and (max-width: 991px){
        position:relative;
        top: 101px !important;
    }
    @media (min-width: 992px) and (max-width: 1024px){
        position:relative;
        top: -128px;
    }
   
}
.contactus4{
    @media (min-width: 768px) and (max-width: 991px){
        position: relative;
        top: 362px !important;
    }
    @media(min-width:768px) and (max-width: 991px){
        position:relative;
        right: 291px !important;
        }
        @media (min-width: 456px) and (max-width:649px){
            position: relative;
            top: 59px !important;
        }
        @media(min-width: 992px) and (max-width: 1024px){
            position: relative;
            top: -111px !important;
        }
}

.horizontalfinal4{
    @media (min-width: 768px) and (max-width: 991px){
        position: relative;
        top: 604px !important;
    }
    @media (min-width: 456px) and (max-width:649px){
            position: relative;
            top: 300px !important;
    }
    @media(min-width: 992px) and (max-width: 1024px){
            position:relative;
            top: 134px;
        }
}
.hr{
     @media(min-width: 1025px){
        position: relative;
        top: -67px;
      }
       @media(max-width: 1024px){

            display:none;
        }
    }
    .navbar2{
        background-color: $brand-darkyellow !important;
        ul a{
            background-color: transparent !important;
            color:$brand-dark !important;
            border-color: $brand-dark !important;
            &:hover{
                 
                    color: $brand-darkyellow !important;
                    background-color: $brand-lightyellow!important;
                    margin: auto;
                    text-align: center;
                    border-right: 50%;
                }
        }
        img {
            height:35px;
            position: relative;
            right: 10px;
        }
        .nav-item a {
            position: relative;
            right:100px;
        }
        @media(max-width:991px){
            img {
                display:none;
             }
        }
        @media (min-width:430px) and (max-width: 776px){
            img {
                height:35px;
                position: relative;
                right: -250px !important;
            }
        }
        @media (min-width: 240px)and (max-width:430px){
            img {
                display:none;
            }
        }
       
    }
    .row5{
        background-image: url('../images/ContactUsBackground.jpg');
        background-position-y: 10px;
        height: 436px;
        @media(min-width:200px)and (max-width: 450px){
            position: relative;
            top: -32px;
        }
        @media(min-width:992px)and (max-width:1026){
            position:relative;
        }
        @media(min-width:768px)and (max-width:991px){
            height:425px !important;
        }
    
    }
    .row3{
        background-image: url('../images/carouselBackground.jpg');
        background-position-y: 137px;
        position:relative;
        top: 78px;
        @media(min-width:200px)and (max-width: 450px){
            position: relative;
            top: 44px;
            right: 2px;
        }
        @media(min-width:650px)and(max-width:768px){
            position:relative;
            top: 168px;
        }
        @media(min-width:456px)and (max-width:649px){
            position: relative;
            top: 184px;
        }
        @media(min-width:769px)and (max-width:991px){
            top:211px !important;
        }
    }
  
    .container-contact2{
        .contactus3{
            background-color: $brand-lightyellow;
            position: relative;
            right:130px;
            top: 87px;
        }
        @media(max-width:991px){
            .contactus3{
                position: relative;
                right:275px;
            }
        }
        @media (min-width:430px) and (max-width: 776px) {
            .contactus3{
                position: relative;
                right: 254px;
            }
        }
        @media(min-width:500px)and (max-width:649px){
            position:relative;
            right:-150px;
        }
         @media(min-width:410px)and (max-width:429px){
             position:relative;
             right:-199px
    
         }
        @media (min-width: 320px)and (max-width:410px){
            .contactus3{
                position: relative;
                right:31px;
            }
        }
        @media (min-width: 240px)and (max-width:280px){
            .contactus3{
                position: relative;
                right:9px !important;
            }
            @media(min-width:992px)and (max-width:1025px){
                .contactus3{
                max-width:105% !important;
                }
            }
    }
    
    }
    .contact-us2{
        line-height:1px;
        .title{
           text-align: center;
           color: $brand-darkyellow;
       }
    }
    .submit3{
       position: relative;
       right: 108px;
       padding: 5px;
       color: $brand-darkyellow!important;
       border-radius: 5px;
       border-color: $brand-darkyellow;
       font-size: 15px;
       &:hover{
           background-color: $brand-darkyellow;
           color: $brand-lightyellow;
       }
       @media(max-width:991px){
           position: relative;
           right: -10px;
           padding: 5px;
       }
    }
    .horizontalfinal2{
        border: 10px solid $brand-darkyellow !important;
        position: relative;
        top: 238px;
        @media(min-width:200px)and (max-width:450px){
            position: relative;
            top: 244px;
        }
        @media (min-width: 456px) and (max-width:649px){
            position: relative;
            top: 528px !important;
        }
        @media (min-width: 992px) and (max-width: 1024px){
            position: relative;
            top: 153px;
        }
        @media (min-width: 768px) and (max-width:768px){
            position: relative;
            top: 500px;
        }
        @media (min-width: 650px) and (max-width:767px){
            position: relative;
            top: 558px;
        }
        @media (min-width: 769px) and (max-width: 991px){
            position: relative;
            top: 590px;
        }
    }
    .map2{
        position:relative;
        right: 632px;
        top:  -165px;
        background-color: $brand-lightyellow;
        @media(min-width:1170px){
            width:600px;
        }
        @media(min-width:991)and (max-width:1170px){
            width:200px !important;
        }
        @media(max-width:991px){
            display:none;
        }
        @media(min-width:1142px) and (max-width:1288px){
            position:relative;
            right:619px !important;
            width: 450px;
        }
    }
    .button3{
        position: relative;
        right: 620px;
        background-color: $brand-darkyellow;
        font-weight: 600;
        color: $brand-dark;
        &:hover{
            background-color: $brand-lightyellow;
        }
        @media(min-width:322px) and (max-width:414px){
            position:relative;
            right:118px !important;
    
        }
        @media(min-width:200px)and (max-width:321px){
            position:relative;
            right:75px !important;
        }
        @media (min-width: 456px) and (max-width:649px){
            position: relative;
            right: 197px;
        }
        @media (min-width: 991px) and (max-width: 1024px){
            position:relative;
            right:460px !important;
        }
        @media (min-width: 650px) and (max-width:768px){
            position: relative;
            right: 341px;
        }
        @media (min-width: 768px) and (max-width: 991px){
            position:relative;
            right:322px !important;
        }
        @media(min-width: 1025px)and (max-width: 1226px){
            position: relative;
            right: 454px !important;
        }
    }
    .hr2{
        border: 10px solid  $brand-darkyellow !important;
      border-radius: 5px;
    }
    .horizontal{
        position: relative;
        top: 40px;
        border: 10px solid $brand-darkyellow !important;
    }
    