@import '../scss/variables';


  


.contact2{
    position:relative;
    top: 254px;
    @media(min-width:200px)and (max-width:450px){
        position: relative;
        top:285px;
    }
    @media(min-width: 430px)and (max-width:649px){
        position:relative;
        top: 509px !important;
    }
    @media(min-width:650px)and (max-width:767px){
        position:relative;
        top:463px;
    }
   
    @media(min-width:992px)and (max-width:1025px){
        position:relative;
        top: 156px;
    }
    @media(min-width:769px)and (max-width:991px){
        position:relative;
        top: 507px;
    }
    @media(min-width:768px)and (max-width:778px){
        position:relative;
        top: 462px;
    }
}




.book{
    position:relative;
    top:-2px !important;
    @media (min-width: 769px) and (max-width: 1024px){
        position: relative;
        top: -149px !important;
    }
    @media(max-width:991px){
        display:none;
    }
    @media(min-width: 1025px) and (max-width: 1323px){
        position: relative;
        top: -111px !important;
    }
}



.earth{
    width: 300px;
    height: 300px;
    background-image: url('../images/earth.jpg');
    position: absolute;
    top: 450px;
    bottom: 0px;
    left: 0;
    right: 806px;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000; 
    animation: spin 30s linear alternate infinite;
    @media(min-width:200px)and (max-width:450px){
        display:none;
    }
    @media (min-width: 456px) and (max-width:649px){
        display: none;
    }
    @media (min-width: 992px) and (max-width: 1194px){
        position: relative;
        right: 556px;
        top: 227px;
    }
    @media (min-width: 769px) and (max-width: 991px){
        position: relative;
        right: -23px;
        top: 6px;
    }
    @media (min-width: 650px) and (max-width:768px){
        display: none;
    }
    @media(min-width: 1195px) and (max-width: 1323px){
        position: relative;
        right: 653px !important;
        top: 264px !important;
    }
    
}

.heading{
    position:relative;
    top: 43px;
    @media(min-width:200px)and (max-width:450px){
        position:relative;
        top: 22px;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 27px !important;
        right: -12px;
    }
    @media (min-width: 991px) and (max-width: 1024px){
        position: relative;
        top: 20px;
    }
    @media (min-width: 769px) and (max-width: 991px){
        position: relative;
        top: 51px;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top:25px;
    }

}
.video1{
    position: relative;
    top: 90px;
    @media (min-width: 769px) and (max-width: 1024px){
        position:relative;
        top: 95px !important;
    }
}
.row5{
    background-image: url('../images/ContactUsBackground.jpg');
    background-position-y: 10px;
    height: 436px;
    @media(min-width:200px)and (max-width: 450px){
        position: relative;
        top: -32px;
    }
    @media(min-width:992px)and (max-width:1026){
        position:relative;
    }
    @media(min-width:768px)and (max-width:991px){
        height:425px !important;
    }

}
.inner{
    width: 75% !important;
    position:relative;
    top:-262px;
    right: 741px;
    @media(min-width:281px)and (max-width:450px){
        position:relative;
        right:25px;
        top:33px;
    }
    @media(min-width:200px)and (max-width:280px){
        position:relative;
        right:16px;
        top:63px;
    }
    @media(min-width: 1025px) and (max-width: 1062px){
        position: relative;
        right: 543px !important;
        top: -232px;
        width:406px !important;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 75px;
        right: 47px;
    }
    @media (min-width: 992px) and (max-width: 1025px){
        position: relative;
        top:-227px !important;
        right: 523px !important;
        width: 414px !important;
    }
    @media (min-width: 650px) and (max-width:767px){
        position: relative;
        right: 88px;
        top: 35px;
    }
    @media (min-width: 768px) and (max-width:768px){
        position: relative;
        right: 77px;
        top: 80px;
    }
    @media (min-width: 769px) and (max-width: 991px){
        position: relative;
        top: 61px;
        right:84px;
    }
    @media(min-width: 1062px)and (max-width: 1226px){
        position: relative;
        right: 546px !important;
        top: -238px;
    }
}
.hr{
     @media(min-width: 1025px){
        position: relative;
        top: -67px;
      }
       @media(max-width: 1024px){

            display:none;
        }
    }
    
   
   @media(min-width: 500px) and (max-width:545px){
            .contactus{
            position:relative;
            right:141px !important;
            }
      }
      @media(min-width:200px)and (max-width:450px){
        .row11{
             background-color: $brand-lightblue;
        }
    }