@import '../scss/_variables';
//for the mainpage 
.navbar{
    background-color: $brand-ghostwhite !important;
    ul a{
        background-color: transparent !important;
        color:$brand-dark !important;
        border-color: $brand-dark !important;
        &:hover{
             
                color: $brand-blue !important;
                background-color: $brand-darkblue !important;
                margin: auto;
                text-align: center;
                border-right: 50%;
            }
    }
    img {
        height:35px;
        position: relative;
        right: 10px;
    }
    .nav-item a {
        position: relative;
        right:100px;
    }
    @media(max-width:991px){
        img {
            display:none;
         }
    }
    @media (min-width:430px) and (max-width: 776px){
        img {
            height:35px;
            position: relative;
            right: -250px !important;
        }
    }
    @media (min-width: 240px)and (max-width:430px){
        img {
            display:none;
        }
    }
   
}
    .def{
        background-color: transparent;
        color:$brand-dark;
        padding-top:0px;
        padding-bottom: 0px;
        text-align: center;
        vertical-align: middle;
        background-color: $brand-lightblue;
        h2{
            text-align: center;
        }
    
     }
     #carouselExampleIndicators {

            .carousel-inner img {
                background-size: 30%;
                height: 500px;
                position: relative;
                top: 70px;
            }
            .carousel-caption button{
                background-color: transparent;
                color: $brand-darkblue;
                border-color: $brand-lightblue;
                font-size: 50px;
                font-weight: 900;
                position: relative;
                bottom: 150px;
            }
            .carousel-control-prev-icon{
                width: 50px;
                height: 50px;
                float: left;
                margin: 10px;
            }
            .carousel-control-next-icon{
                width: 50px;
                height: 50px;
                float: left;
                margin: 10px;
            }
        }
        .btn{
            &:hover{
                background-color: $brand-lightblue;
            }
            @media(max-width:991px){
                position: relative;
                right: 401px;
                color: $brand-blue !important;
                border-radius: 5px;
                border-color: $brand-darkblue;
                font-size: 15px;
            }
            @media (min-width:430px) and (max-width: 776px) {
                position: relative !important;
                right: 308px !important;
            }
            @media (min-width: 320px)and (max-width:430px){
                position: relative;
                right: 20px;
            }
            @media (min-width: 240px)and (max-width:319px){
                position: relative;
                right: 66px;
            }
            @media(min-width: 500px) and (max-width:545px){ 
                position:relative;
                right:197px !important;
            }
            @media(min-width:320px) and (max-width:414px){
                position:relative;
                right:110px !important;
            }
            @media(min-width: 992px) and (max-width: 1225px)
            {
                position: relative;
                right: 187px;
            }
            position: relative;
            right: 260px;
            color: $brand-blue !important;
            border-radius: 5px;
            border-color: $brand-darkblue;
            font-size: 15px;
            border-color: $brand-darkblue !important;
        }
        .services{
                h3 , .tripstitle{
                    text-align: center;
                    font-size: 45px !important;
                    font-weight: 500 !important;
                    color: $brand-dark;
                    font:oblique;   
                }
                @media (min-width:430px) and (max-width: 776px) {
                    .card{
                        position: relative;
                        right: 50px !important;
                    }
                }
                @media (min-width: 320px)and (max-width:430px){
                    .card{
                        position: relative;
                        right: -50px;
                    }
                }
                @media (min-width: 240px)and (max-width:319px){
                    .card{
                        position: relative;
                        right: -88px;
                    }
                }
                @media(min-width:777px) and (max-width: 991px){
                    .card{
                    position: relative;
                    right: 111px !important;
                    }
                }
           }
           .new1{
            color: $brand-darkblue !important;
            text-decoration: none !important;
            font-size: 20px !important;
            text-shadow: 0 1px 0 $brand-white !important;
            opacity: .5 !important;
            font-weight: unset !important;
            float: unset !important;
            line-height: unset !important;
            position: relative;
            right: -45px; 
            &:hover{
                background-color: $brand-darkblue;
                color: $brand-lightblue;
            }
          }
          .new2{
            color: $brand-darkblue !important;
            text-decoration: none !important;
            font-size: 20px !important;
            text-shadow: 0 1px 0 $brand-white !important;
            opacity: .5 !important;
            font-weight: unset !important;
            float: unset !important;
            line-height: unset !important;
            &:hover{
                background-color: $brand-darkblue;
                color: $brand-lightblue;
            }
          }
        .card {
            transition: transform .5s;
            &:hover{
                transform: translateY(-.9%);
            }
        }
        .contact-us{
             line-height:1px;
             .title{
                text-align: center;
                color: $brand-darkblue;
            }
        }
        .submit{
            position: relative;
            right: 150px;
            padding: 5px;
            color:$brand-blue !important;
            border-radius: 5px;
            border-color: $brand-darkblue;
            font-size: 15px;
            &:hover{
                background-color: $brand-darkblue;
                color: $brand-lightblue;
            }
            @media(max-width:991px){
                position: relative;
                right: -10px;
                padding: 5px;
            }
        }
        .sidebar {
            position: fixed;
            z-index: 4;
            right: -17rem;
            transition: all 0.5s ease-in-out;
            height: 37; 
            overflow: hidden; 
            padding-bottom: 60px;
        }
        .sidebar{
                  .list-group-item {
                        width: 17rem;
                        background-color: $brand-lightblue;
                        text-align: center;
                        text-decoration: none;
                        font-weight: 600;
                    }
                    &:hover {
                        color:$brand-lightblue;
                        background-color:$brand-darkblue;
                    }
                    @media(max-width:991px){
                        display: none;
                    }
                }
                .pswforget{
                    position: relative;
                    right: -166px;
                    @media (min-width: 240px)and (max-width:430px){
                            right: -10px !important;
                    }
                }
                .container-contact{
                    .contactus{
                        background-color: $brand-lightblue;
                        position: relative;
                        right:130px;
                    }
                    @media(max-width:991px){
                        .contactus{
                            background-color: $brand-lightblue;
                            position: relative;
                            right:275px;
                        }
                    }
                    @media (min-width:430px) and (max-width: 776px) {
                        .contactus{
                            background-color: $brand-lightblue;
                            position: relative;
                            right: 250px;
                        }
                    }
                    @media (max-width: 430px){
                        .contactus{
                            background-color: $brand-lightblue;
                            position: relative;
                            right:160px;
                        }
                    }
                    @media (min-width: 320px)and (max-width:430px){
                        .contactus{
                            background-color: $brand-lightblue;
                            position: relative;
                            right:60px;
                        }
                    }
                    @media (min-width: 240px)and (max-width:280px){
                        .contactus{
                            background-color: $brand-lightblue;
                            position: relative;
                            right:21px !important;
                        }
                }
                
            }
            
            .map3{
               @media(max-width:991px){
                display:none;
                }
                @media(min-width: 992px) and (max-width: 1024px){
                   position: relative;
                   top: -111px !important;
                   right: 276px !important;
               
                }
            }
                .map,.map3{
                    position:relative;
                    right: 230px;
                    background-color: $brand-lightblue;
                    @media(min-width:1170px){
                        width:600px;
                    }
                    @media(min-width:991)and (max-width:1170px){
                        width:200px !important;
                    }
                    @media(max-width:991px){
                        display:none;
                    }
                    @media(min-width: 1170px) and (max-width: 1288px){
                        position:relative;
                        right: 200px !important;
                        width: 450px !important;
                    }
                }
                #commentForm{
                    @media(min-width:1170px){
                        a {
                            display: none !important;
                        }
                    }
                    @media(min-width:991)and (max-width:1170px){
                        a {
                            display: none !important;
                        }
                    }
                    @media(max-width:991px){
                        a {
                            text-decoration: none;
                            color: $brand-darkblue;
                            position: relative;
                            right: 78px;
                        }
                    }
                }
        
        