@import '../scss/variables';
//for the landing page

.book{
    position:relative;
    top:-2px !important;
    @media (min-width: 769px) and (max-width: 1024px){
        position: relative;
        top: -241px !important;
    }
    @media(max-width:991px){
        display:none;
    }
    @media(min-width: 1026px) and (max-width: 1323px){
        position: relative;
        top: -298px !important;
    }
}
.earth{
    width: 300px;
    height: 300px;
    background-image: url('../images/earth.jpg');
    position: absolute;
    top: 450px;
    bottom: 0px;
    left: 0;
    right: 991px;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000; 
    animation: spin 30s linear alternate infinite;
    @media(min-width:200px)and (max-width:450px){
        display:none;
    }
    @media (min-width: 456px) and (max-width:649px){
        display: none;
    }
    @media (min-width: 992px) and (max-width: 1024px){
        position: relative;
        right: 542px;
        top: 142px;
    }
    @media (min-width: 769px) and (max-width: 991px){
        position: relative;
        right: -23px;
        top: 1px;
    }
    @media (min-width: 650px) and (max-width:768px){
        display: none;
    }
    @media(min-width: 1026px) and (max-width: 1323px){
        position: relative;
        right: 653px !important;
        top: 69px !important;
    }
    
}
.inner{
    width: 83% !important;
    position:relative;
    top:52px;
    right: -18px;
    @media(min-width:200px)and (max-width:450px){
        position:relative;
        right:14px;
        top:18px;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 26px;
        right: 34px;
    }
    @media (min-width: 991px) and (max-width: 1024px){
        position: relative;
        top:93px !important;
        right: 42px !important;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        right: 55px;
        top: 315px;
    }
    @media (min-width: 768px) and (max-width: 990px){
        position: relative;
        top: 44px;
        right:42px;
    }
    @media(min-width: 1025px)and (max-width: 1226px){
        position: relative;
        right: 71px !important;
        top: 88px;
    }
}
.pyramids{
    position:relative;
    top: 32px;
    @media(min-width:200px)and (max-width:450px){
        position:relative;
        top: 18px;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 23px !important;
        right: -12px;
    }
    @media (min-width: 991px) and (max-width: 1024px){
        position: relative;
        top: 20px;
    }
    @media (min-width: 768px) and (max-width: 990px){
        position: relative;
        top: 44px;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top:2px;
    }

}
.video1{
    position: relative;
    top: 90px;
    @media (min-width: 769px) and (max-width: 1024px){
        position:relative;
        top: 95px !important;
    }

}
.video2{
    position: relative;
    top: 175px;
    @media (min-width: 769px) and (max-width: 1024px){
        position: relative;
        top: 192px !important;
    }
}
.det{
    background-color: $brand-beige;
    position:relative;
    top: 148px;
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 327px;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top:34px;
    }
    @media(min-width:200px)and (max-width:450px){
        position: relative;
         top: 189px !important;
    }
    @media (min-width: 768px) and (max-width: 991px){
        position: relative;
        top: 555px;
    }
}
.det2{
    background-color: $brand-beige;
    position:relative;
    top: 265px;
    @media (min-width: 456px) and (max-width:649px){
        position:relative;
        top: 525px;
        top: 641px;
    }
    @media(min-width:200px)and (max-width:450px){
        position: relative;
         top: 285px !important;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top: 405px !important;
    }
    @media (min-width: 768px) and (max-width: 991px){
        position: relative;
        top: 980px;
    }
}
.trip2{
    position: relative;
    top: 93px;
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        right: -12px !important;
        top: 276px;
    }
    @media (min-width: 992px) and (max-width: 1024px){
        position: relative;
        top: 130px;
    }
    @media (min-width: 768px) and (max-width: 991px){
        position: relative;
        top: 500px;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top: 400px !important;
    }
}
.button1{
    position: relative;
    right: 620px;
    background-color: $brand-lightblue;
    font-weight: 600;
    color: $brand-dark;
    &:hover{
        background-color: $brand-darkblue;
    }
    @media(min-width:320px) and (max-width:414px){
        position:relative;
        right:125px !important;

    }
    @media(min-width:200px)and (max-width:319px){
        position:relative;
        right:90px !important;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        right: 235px;
    }
    @media (min-width: 991px) and (max-width: 1024px){
        position:relative;
        right:460px !important;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        right: 335px;
    }
    @media (min-width: 768px) and (max-width: 991px){
        position:relative;
        right:360px !important;
    }
    @media(min-width: 1025px)and (max-width: 1226px){
        position: relative;
        right: 454px !important;
    }
}
.topmenu{
    @media(min-width:200px)and (max-width:450px){
        position: relative;
        left: -8px !important;
        background-color: $brand-lightblue;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        left: -8px !important;
        background-color: $brand-lightblue;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        left: -8px !important;
        background-color: $brand-lightblue;
    }
   
}
.horizontalline2{
    @media(min-width:200px)and (max-width:450px){
        position:relative;
        bottom: -245px;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top: 37px;
    }
}
.horizontalline3{
    position: relative;
        top: 254px;
        @media(min-width:200px)and (max-width:450px){
            position: relative;
           top: 272px;
        }
        @media (min-width: 456px) and (max-width:649px){
            position: relative;
            top: 633px !important;
        }
        @media (min-width: 992px) and (max-width: 1024px){
            position:relative;
            top: 260px !important;
        }
        @media (min-width: 650px) and (max-width:768px){
            position: relative;
            top: 862px;
        }
        @media(min-width:768px) and (max-width: 991px){
            position:relative;
            top: 975px;
        }
}
.horizontalfinal{
    position: relative;
    top: 250px;
    @media(min-width:200px)and (max-width:450px){
        position: relative;
        top: 244px;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 620px !important;
    }
    @media (min-width: 992px) and (max-width: 1024px){
        position: relative;
        top: 240px !important;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top: 877px;
    }
    @media (min-width: 768px) and (max-width: 991px){
        position: relative;
        top: 964px !important;
    }
}
.inner2{
    @media(min-width:200px)and (max-width:450px){
        position: relative;
        top: 39px !important;
    }
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 217px;
    }
    @media (min-width: 992px) and (max-width: 1024px){
        position: relative;
        top:93px !important;
        right: 42px !important;
    }
    @media (min-width: 768px) and (max-width: 991px){
        position: relative;
        top:410px !important;
        right: 42px !important;
    }
    
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        right: 58px !important;
        top: 913px !important;
    }
    @media(min-width: 1025px)and (max-width: 1040px){
        position: relative;
        right: 92px !important;
        top: 88px;
    }
}
.contact2{
    position:relative;
    top: 245px;
    @media(min-width:200px)and (max-width:450px){
        background-color: transparent;
    }
    @media (min-width: 456px) and (max-width:649px){
            background-color: transparent;
        }
        @media (min-width: 650px) and (max-width:768px){
            background-color: transparent;
        }
}
.contactus2{
    @media (min-width: 456px) and (max-width:649px){
        position: relative;
        top: 380px !important;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        right: 500px !important;
    }
}
.contactus3{
    @media(min-width:200px)and (max-width:319px){
        position: relative;
        right: 24px !important;
        top: 12px !important;
    }
    @media (min-width: 650px) and (max-width:768px){
        position: relative;
        top: 625px !important;
        right: 250px !important;
    }
    @media(min-width:320px) and (max-width:414px){
        position:relative;
        right:65px !important;
        top: 15px !important;

    }
    @media(min-width: 768px) and (max-width: 991px){
        position:relative;
        top: 723px !important;
    }
   
}